*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Verdana, sans-serif;
    font-size:15px;
    line-height:2;
    text-decoration: none;
    outline: none;
    border: none;
}
html{
    scroll-behavior: smooth;
}
.navbar-item{
    color: white;
    padding:12px 16px 12px 16px ;
    margin: 1px;

}
.nav{
    color: white;
    background-color: black;
    position: fixed;
    width: 100%;
    padding: 10px;
    z-index: 1;
    margin-bottom: 30px;
}
.nav a{
    color: white;
    margin-right: 20px;
    height: 100%;
}
.nav a:hover{
    color: black;
    background-color: white;
    height: 75%;
}
.w3-content{
    width: 100% ;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.band{
    text-align: center;
    font-weight: 500;
}
.slides{
    width: 100%;
    height: 500px;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.tu{
    text-align: center;
}
.finding{
    position: absolute;
    top:0;
    right: 0;
    height: 30px;
}
.finding:hover{
    color: brown;
}
.tourdate{
    background-color: black;
    width: 100%;
    height: 800px;;
    position: absolute;
}
.tourdate1{
    height: 40px;
    width: 766px;
    background-color: white;
    display: inline-block;
    border-bottom:1px grey solid ;
}
.soldout{
    display: inline-block;
    color: white;
    background-color: brown;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 2px;
}
.tourdate2{
    height: 40px;
    width: 766px;
    background-color: white;
    display: inline-block;
    border-bottom:1px grey solid ;
}
.soldout1{
    display: inline-block;
    color: white;
    background-color: brown;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 2px;
}
.tourdate3{
    height: 40px;
    width: 766px;
    background-color: white;
    display: inline-block;
}
.soldout2{
    color: white;
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
    margin-bottom: 15px;
    
}
.title{
    color: white;
}
.title2{
    color: white;
}
.alltitle{
    text-align: center;
    margin:0,auto;
}
.element{
    width: 766px;
    margin: 0 auto;
}
.item1{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    
}
/* .detail{
    color:white;
}
.detail1{
    color:white;
}
.detail2{
    color:white; */
/* } */
.locate{
    display: inline-block;
    height: 205px;
    width: 245px;
    margin: 12px;
}
.locate2{
    display: inline-block;
    height: 205px;
    width: 245px;
    margin: 12px;
}
.locate1{
    display: inline-block;
    height: 205px;
    width: 245px;
    margin: 12px;
}
p{
    /* color: white; */
    line-height: 15px;
    margin-left: 12px;
}
.bot{
    height: 250px;
    width: 245px;
    background-color: white;
    color: black;
}
button{
    background-color: black;
    color: white;
    margin-left: 12px;
}
button:hover{
    background-color: grey;
    color:black;

}
.img1{
    width: 100%;
}
.img1 img{
    width: 100%;
}
.date{
    color: grey;
}
.allocate{
    display: flex;
    justify-content: center;
}
.detail{
    margin-left: 12px;
}
.detail1{
    margin-left: 12px;
}
.detail2{
    margin-left: 12px;
}
.we{
    width: 100%;
    height:200px;
}
.contact{
    color: black;
    text-align: center;
    size: 30px;
}
i{
    text-align: center;
}
.w3-padding-32{
    padding-top: 32px!important;
    padding-bottom: 32px!important;
}
.w3-margin-bottom{
    align-items: center;
}
.w3-half{

}
.w3-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
.power{
    color:gray;
    display: flex;
    justify-content: center;
}
.socia{
    display: flex;
    justify-content: center;
}