.container {
    width: 1000px;
    height: 900px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* align-items: center; */ 
    /* /* justify-content: space-between;
    align-items: flex-end; */
  }
  
  .line1 {
    width: 100%;
    height: 100px;
    /* background-color: pink; */
    display: flex;
    justify-content: center ;
  }
  
  .line2 {
    width: 100%;
    height: 100px;
    /* background-color: green; */
    display: flex;
    justify-content:center ;

  }
  
  .box {
    width: 100px;
    height: 100px;
  }
  
  .box1 {
    background-color: rgb(116, 183, 116);
  }
  
  .box2 {
    background-color: orange;
  }
  
  .box3 {
    background-color: red;
  }
  .box5{
    background-color: rgb(255, 205, 205);
  }
  .box6{
    background-color: blueviolet;
  }
  .box7{
    background-color: darkgray;
  } 
  .box8{
    background-color: blueviolet;
  }
  .box9{
    background-color: darkorange;
  }
  .line3 {
    width: 100%;
    height: 100px;
    /* background-color: green; */
    display: flex;
    justify-content:center;
    flex-direction: row ;
  }
  .line4 {
    width: 100%;
    height: 100px;
    /* background-color: green; */
    display: flex;
    justify-content:space-evenly;
    flex-direction: row ;
  }
  .line5 {
    width: 100%;
    height: 100px;
    /* background-color: green; */
    display: flex;
    justify-content:space-evenly;
    flex-direction: row ;
  }
  