.cart {
    height: 55px;
    width: 50px;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 11px;
  }
  .item {
    display: inline-block;
  }
  .menu {
    background-color: lightpink;
    height: 60px;
    display: flex;
    margin: 0;
  }
  .menu_item1 {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    text-decoration: double;
  }
  .menu_item2 {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    color: black;
  }
  .menu_item3 {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
  }
  .drop-down {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    height: 15px;
  }
  .menu_item5 {
    display: inline-block;
    margin-right: 30px;
  }
  .menu_item1:hover {
    background-color: white;
    color: black;
    text-decoration: underline;
  }
  .menu_item2:hover {
    background-color: white;
    color: black;
    text-decoration: underline;
  }
  .menu_item3:hover {
    background-color: white;
    color: black;
    text-decoration: underline;
  }
  .face:hover {
    color: beige;
  }
  .abwe {
    color: black;
  }
  .dropbtn {
    background-color: lightpink;
    color: black;
    margin-top: 15px;
    font-size: 16px;
    border: none;
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    height: 20px;
  }
  .dropbtn:hover {
    background-color: white;
    text-decoration: underline;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    height: auto;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: white;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content:hover {
    background-color: grey;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    background-color: white;
  }
  .dropdown-content a:hover {
    text-decoration: underline;
    color: white;
  }
  .shop {
    width: 100%;
    height: 550px;
    margin-top: 30px;
  }
  .control {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 0px;
  }
  .item2, .item3, .item4, .item5{
    display: inline-block;
  }
  /* .item2{
    margin-right: 15px;
  } */
  .item3{
    background-color: white;
    width: 40px;
    height: 20px;
    text-align: center;
    background-color: lightslategrey;
    border-radius: 15%;
  }
  .item3:hover{
    background-color: darkmagenta;
  }
  .item4{
    background-color: white;
    width: 40px;
    height: 20px;
    text-align: center;
    background-color: lightslategrey;
    border-radius: 15%;
  }
  .item4:hover{
    background-color: darkmagenta;
  }
  .item5{
    background-color: white;
    width: 40px;
    height: 20px;
    text-align: center;
    background-color: lightslategrey;
    border-radius: 15%;
  }
  .item5:hover{
    background-color: darkmagenta;
  }
  .all{
    display: flex;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 40px;
    align-items: center;
    text-align: center;
    width: 100%;
    
  }
  .main{
    margin-right: 500px;
  }
  .product{
    margin-right: 60px;
    /* width: 150px; */
    /* margin-left: 500px; */
    vertical-align: top;
  }
  .item7{
    background-color: lightpink;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item7:hover{
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  } 
  .item8{
    background-color: lightpink;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
  }
  .item8:hover{
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  } 
  .buy{
    display: flex;
    vertical-align: top;
  }
  .intro{
    width:450px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    margin-left: 100px;
  }
