.cart {
  height: 55px;
  width: 50px;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 11px;
}
.item {
  display: inline-block;
}
.menu {
  background-color: lightpink;
  height: 60px;
  display: flex;
}
.menu_item1 {
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;
  text-decoration: double;
}
.menu_item2 {
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;
  color: black;
}
.menu_item3 {
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;
}
.drop-down {
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;
  height: 15px;
}
.menu_item5 {
  display: inline-block;
  margin-right: 30px;
}
.menu_item1:hover {
  /* background-color: white; */
  color: black;
  text-decoration: underline;
}
.menu_item2:hover {
  /* background-color: white; */
  color: black;
  text-decoration: underline;
}
.menu_item3:hover {
  /* background-color: white; */
  color: black;
  text-decoration: underline;
}
.face:hover {
  color: beige;
}
.abwe {
  color: black;
}
.dropbtn {
  background-color: lightpink;
  color: black;
  margin-top: 15px;
  font-size: 16px;
  border: none;
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;
  height: 20px;
}
.dropbtn:hover {
  /* background-color: white; */
  text-decoration: underline;
}
.dropdown {
  position: relative;
  display: inline-block;
  height: auto;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: gray;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: white;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content:hover {
  background-color: grey;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  text-decoration: underline;
  color: white;
}
.slides {
  width: 100%;
  height: 500px;
}
.Matches {
  width: 310px;
  height: 100px;
  margin-bottom: 0;
  margin-top: 20px;
}
.last {
  height: 100px;
  width: 100%;
  color: black;
  display: flex;
  border-top: 3px darkviolet solid;
  margin-top: -20px;
  margin-bottom: 150px;
}
.all {
  margin-left: 50px;
}
.friend {
  display: flex;
  justify-content: center;
  width: 100%;
}
.results {
  display: block;
}
.club {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  position: absolute;
  top: 650px;
  width: 310px;
  margin-top: 250px;
}
.ratio {
  background-color: grey;
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  justify-content: center;
}
.ratio2 {
  background-color: grey;
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  justify-content: center;
}
.Matches2 {
  width: 310px;
  height: 100px;
  margin-left: 100px;
  margin-top: 15px;
}
.last2 {
  height: 100px;
  width: 100%;
  color: black;
  display: flex;
  border-top: 3px darkviolet solid;
  margin-top: -20px;
  margin-bottom: 150px;
}
.all2 {
  margin-left: 50px;
}
.friend2 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.results2 {
  display: block;
}
.club2 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  position: absolute;
  top: 650px;
  width: 310px;
  margin-top: 250px;
}
.ratio3 {
  background-color: grey;
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  justify-content: center;
}
.ratio4 {
  background-color: grey;
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  justify-content: center;
}
.allmatch {
  display: flex;
  justify-content: center;
  width: 100%;
}
.all:hover {
  color: blue;
}
#home {
  width: 100%;
}
.fc1 {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}
.News {
  width: 275px;
  height: 375px;
  margin-top: 50px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 30px;
}
.allnews {
  display: flex;
  width: 100%;
  justify-content: center;
}
.mag {
  display: inline-block;
}
.mag1 {
  display: inline-block;
}
.mag2 {
  display: inline-block;
}
.hightlights {
  margin-top: 150px;
  width: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
}
.new:hover {
  text-decoration: underline;
  color: lightcoral;
}
.mag1:hover {
  color: lightcoral;
}
.fc:hover {
  color: violet;
}
.fc {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}
.mag1 {
  margin-top: -120px;
  margin-left: 50px;
}
.News:hover {
  border: 5px pink solid;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 10%;
  height: 450px;
}
.News {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 10%;
  height: 450px;
  width: 340px;
}
.img {
  width: 100%;
  height: 175px;
  border-radius: 10%;
}
.text {
  padding: 15px;
  padding-top: 10px;
}
.text1 {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: -10px;
  margin-bottom: -15px;
  font-weight: bold;
}
.terms {
  width: 100%;
  height: 250px;
  background-color: lightgrey;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
}
.mySlides {
  display: none;
  width: 100%;
  height: 100%;
}
.slideshow-container {
  max-width: 1300px;
  height: 700px;
  position: relative;
  margin: auto;
  overflow: hidden;
  margin-bottom: 40px;
  margin-top: 40px;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
.mainfooter{
  background-color: #3D155F;  
  min-height: 450px;
  display: flex;
  width: 100%; 
  padding-bottom: 30px;
  margin-top: 30px;
}
.img1{
  width: 100%;
  color:#DF678C;
  margin-top: 50px;
}
.icon10{
  border-radius: 15%;
  width:60px;
  margin-left: 50px;
}
.hello{
  display: inline-block;
  vertical-align: top;
  margin-top: 100px;
  margin-left: 50px;
}
.part-footer{
  display: inline-block ;
  width: 350px;
  margin-left: 30px;
}
  .hello1{
    display: inline-block;
    margin-left: 100px;
  }

  .item_container_footer {
    width: 700px;
    /* background-color: red; */
  }

  .item_container_footer_top {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .item_container_footer_bottom {
    margin-top: 60px;
    width: 100%;
    display: flex;
    /* justify-content: space-evenly; */
  }

  .hello1:nth-child(2) {
    margin-left: 140px;
  }
  .map{
    margin-top: 25px;
  }